.bookstyle {
    height: 300px;
    width: 200px;
}
.kidstyle {
    height: 100px;
    width: 150px;
    margin-top: 140px;
}
.binstyle {
    height: 150px;
    position: relative;
    left: 80px;
    bottom: 100px;
}
.handstyle {
    height: 90px;
    position: relative;
    right: 100px;
    bottom: 200px;
    z-index: 3;
}
.libmargin{
    margin-top: 5%;
}

@media only screen and (min-width: 1220px)   {
.bookstyle {
    height: 400px;
    width: 300px;
}
}

/* @media only screen and (max-width: 640px)   {
    body  {
        margin: 0px;
    }
    .bookstyle {
        height: 200px;
        width: 150px;
    }
} */