.jumbotron{
    background-image: url("https://images.pexels.com/photos/33196/still-life-teddy-white-read.jpg?auto=compress&cs=tinysrgb&h=750&w=1260");
    height: 650px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* margin-top: 7%; */
    padding-top: 10%
}
h1{
    font-family: 'Luckiest Guy', cursive;
    float: right;
    margin-left: 80%;
    text-shadow: 4px 4px 8px whitesmoke;
    color: rgb(175, 29, 148);
}

@media only screen and (max-width: 768px)   {

    .jumbotron{
        background-image: url("https://images.pexels.com/photos/33196/still-life-teddy-white-read.jpg?auto=compress&cs=tinysrgb&h=750&w=1260");
        height: 475px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        /* margin-top: 7%; */
        padding-top: 10%
    }

    body  {
        margin: 0px;
    }

}