$magenta: rgb(175, 29, 148);
.susjumbo{
    
    height: 40vh; 
    background-image: url("./https://github.com/monetthigpen/The/blob/master/Sustainable.jpg?raw=true");
    background-size: 100% 100%;
}
.susfont{
    font-size: 70px;
    font-family: "Quicksand", sans-serif;
    // font-size: 20px;
    color: rgb(224, 24, 24);
    text-shadow: 2px 2px rgb(219, 183, 183);
}
.suscard{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}