.logotxt{
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
    color: rgb(175, 29, 148);
}
.break{
    font-size: 40px;
    color:black;
}
.navtxt{
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(36, 36, 214);
}
.navbar{
    background-color: rgb(139, 222, 233);
}
.jump {
    display:inline;
    transform-origin: 20% 50%;
    animation: jump .7s linear alternate 2;
}
@keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,20%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,30%,0) scale3d(1.5,.7,1);}
}