.jumbotronimg{
    background-image: url("https://images.pexels.com/photos/33196/still-life-teddy-white-read.jpg?auto=compress&cs=tinysrgb&h=400&w=1260");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* margin-top: 7%; */
    padding-top: 10%
}
.h1-bear{
    font-family: 'Luckiest Guy', cursive;
    float: right;
    margin-left: 80%;
    text-shadow: 4px 4px 8px whitesmoke;
    color: rgb(175, 29, 148);
}

/* Imac */
@media only screen and (min-width: 1440px)   {
    .landing-jumbotron{
        /* background-image: url("https://images.pexels.com/photos/33196/still-life-teddy-white-read.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"); */
        height: 1200px;
        /* background-repeat: no-repeat; */
        background-size: 100% 100%;
        /* margin-top: 7%; */
        padding-top: 10%
    }

    .display-4 {
        font-size: 98px;
    }
}

/* IPAD */
@media only screen and (max-width: 768px)   {

    .landing-jumbotron{
        background-image: url("https://images.pexels.com/photos/33196/still-life-teddy-white-read.jpg?auto=compress&cs=tinysrgb&h=750&w=1260");
        height: 475px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        /* margin-top: 7%; */
        padding-top: 10%
    }

    body  {
        margin: 0px;
    }

}