.desk{
    background-image: url("./brown-design-hardwood-955454.jpg");
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    min-height: 100vh;
    width: 100% auto;

   
}

/* https://images.pexels.com/photos/933154/pexels-photo-933154.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 */