.page-container {
    height: 100vh;
    width: 100%;
}

.page-image  {
    min-height: 70vh;
    width: auto;
}

.pretty-line {
    font-size: 40px;
    color: black;
    font-family: 'Cabin', sans-serif;
    position: relative;
}

.margin {
    margin-top: 5%;
}

.imgs {
    min-height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* margin-bottom: -20px; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.pretty-text-div {
    padding-top: 5%;
}

.pcLeft {
    position: relative;
    border: solid black;
    border-width: 0 5px 5px 0;
    /* display: inline-block; */
    padding: 7px;
}

.pcRight {
    position: relative;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
}

.pcLeft {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
} 

.pcRight {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} 

.pcLeftArrows {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-radius:50%;
    /* display: inline-block; */
    bottom: 66%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcRightArrows {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-radius: 50%;
    bottom: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 93.2%; */
    right: 1%;
}

/* .pcRightArrows > * {
    margin: 0;
    border: solid black;
    border-width: 0 5px 5px 0;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

@media only screen and (max-height: 1200px) {
    /* .imgs {
        max-height: 80%;
        max-width: 100%;
    } */
}

@media only screen and (max-height: 960px) {
    .pretty-line {
        font-size: 28px;
    }
    /* .imgs {
        max-height: 90%;
        max-width: 100%;
    } */
}

/* ipad landscape */

/* no scroll required */

@media only screen and (max-height: 768px) {
    .pretty-line {
        font-size: 28px;
    }

    .pretty-text-div {
        padding-top: 1%;
    }
    /* .imgs {
        height: auto;
        max-width: 100%;
        margin-bottom: -15px;
    }
    i, .pcLeft {
        bottom: 293px;
        left: -4%;
    }
    i, .pcRight {
        bottom: 293px;
        left: 74%;
    }
    .pcLeftArrows {
        position: relative;
        height: 50px;
        width: 50px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        bottom: 278px;
        left: 7px;
    }
    .pcRightArrows {
        left: 80%;
        bottom: 278px;
    } */
}

@media only screen and (max-width: 640px) {
    .pretty-line {
        font-size: 22px;
    }
    /* i, .pcLeft {
        display: none;
    }
    i, .pcRight {
        display: none;
    }
    .pcLeftArrows {
        display: none;
    }
    .pcRightArrows {
        display: none;
    } */
    /* .imgs {
        height: 200px;
        max-width: 100%;
        margin-bottom: 30px;
    } */
}

/* phone landscape */

/* currently scroll required */

@media only screen and (max-height: 414px) {
    .pretty-line {
        font-size: 18px;
    }
    .imgs {
        height: 200px;
        max-width: 100%;
        margin-bottom: 30px;
    }
    i, .pcLeft {
        display: none;
    }
    i, .pcRight {
        display: none;
    }
    .pcLeftArrows {
        display: none;
    }
    .pcRightArrows {
        display: none;
    }
}