.pretty-text {
    font-size: 35px;
    color: black;
    font-family: 'Cabin', sans-serif;
    position: relative;
}

/* .main {
    z-index: 10;
    max-height: 1238px;
    max-width: 960px;
} */

.pc-one {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 100px;
    top: 120px;
}

.pc-two {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 70px;
    top: 120px;
}

.pc-three {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 100px;
}

.pc-four {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 160px;
}

.pc-five {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-six {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-seven {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-eight {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-nine {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-ten {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-eleven {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-twelve {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-thirteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-fourteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-fifteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-sixteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.imgs {
    height: auto;
    max-width: 100%;
    /* max-width: 960px; */
}

@media only screen and (max-height: 960px) {
    .pretty-text {
        font-size: 28px;
    }
    .imgs {
        height: auto;
        max-width: 100%;
    }
}


/* ipad landscape */
/* no scroll required */
@media only screen and (max-height: 768px) {
    .pretty-text {
        font-size: 25px;
    }
    .imgs {
        height: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .pretty-text {
        font-size: 16px;
    }
}

/* phone landscape */ 
/* currently scroll required */
@media only screen and (max-height: 414px) {
    .pretty-text {
        font-size: 1opx;
    }
    .imgs {
        height: 200px;
        max-width: 100%;
    }
}