/* .pretty-line {
    font-size: 40px;
    color: black;
    font-family: 'Cabin', sans-serif;
    position: relative;
    background-color: #ffffff;
    opacity: 0.5;
    
} */

/* .desk{
    background-image: url("https://images.pexels.com/photos/172296/pexels-photo-172296.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
} */

.pages {
    /* overflow: hidden; */
    /* height: 100%;
    width: 100%; */
}

.page-container {
    /* padding-top: 93px; */
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */

}
.pretty-line {
    font-size: 40px;
    color: black;
    font-family: 'Cabin', sans-serif;
    position: relative;
    /* background-color: #ffffff; */
    /* opacity: 0.1; */
    
}

.margin{
    margin-top: 5%;
}

.pc-one {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 100px;
    top: 120px;
}

.pc-two {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 70px;
    top: 120px;
}

.pc-three {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 100px;
}

.pc-four {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 160px;
}

.pc-five {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-six {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-seven {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-eight {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-nine {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-ten {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-eleven {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-twelve {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-thirteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-fourteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-fifteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-sixteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.imgs {
     height: auto;
     width: 100%; 

}

@media only screen and (max-height: 1200px) {
    .imgs {
        max-height: 80%;
        max-width: 100%;
    }
}

@media only screen and (max-height: 960px) {
    .pretty-line {
        font-size: 28px;
    }
    .imgs {
        max-height: 90%;
        max-width: 100%;
    }
}


/* ipad landscape */
/* no scroll required */
@media only screen and (max-height: 768px) {
    .pretty-line {
        font-size: 28px;
    }
    .imgs {
        height: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .pretty-line {
        font-size: 22px;
    }
}

/* phone landscape */ 
/* currently scroll required */
@media only screen and (max-height: 414px) {
    .pretty-line {
        font-size: 18px;
    }
    .imgs {
        height: 200px;
        max-width: 100%;
    }
}

i,
.pcLeft {
    position: relative;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
    bottom: 315px;
    left: -30px;
}

i,
.pcRight {
    position: relative;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
    bottom: 315px;
    left: 710px;
}
  
.pcLeft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.pcRight {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.pcLeftArrows {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  bottom: 300px;
}
.pcRightArrows {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  bottom: 300px;
  left: 744px;
}