.page {
    position: relative;
    
}
/* .pages{
    margin-top: 7%;
} */
/* .page-image {

} */
.margin{
    margin-top: 5%;
}

.page-text {
    color: black;
    font-family: 'Baumans', cursive;
    font-size: 30px;
       
}

.main {
    z-index: 10;
}

.pc-one {
    z-index: -100;
    opacity: 0;
    pointer-events: none;
    color: black;
    /* height: 100px;
    z-index: 11;
    position: absolute;
    right: 100px;
    top: 120px; */
}


.pc13 {
    z-index: 100;
    opacity: 1;
    pointer-events: auto;
    /* display: block;
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px; */
}

/* .pc-fourteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
} */

.pc-fifteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}

.pc-sixteen {
    height: 100px;
    z-index: 11;
    position: absolute;
    right: 30px;
    top: 120px;
}
/* .theEndStyle{
    align-Items: 'flex-end';
    background-Color: '#000';
    color: '#fffff';
    display: 'flex';
    justify-Content: 'center';
    padding: 5%;
    width: 200px;
    height: 300px;
} */
.imgs{
    height: 500px;
    width:100%;
}
.img11{
    height: 400px;
}
