.gameTrash2 {
    height: 75px;
    position: absolute;
    top: 120px;
    right: 100px;
    visibility: hidden;  
}
.gameTrash3 {
    height: 75px;
    position: absolute;
    top: 120px;
    right: 200px;
    visibility: hidden;  
}
.gameTrash4 {
    height: 75px;
    position: absolute;
    top: 120px;
    visibility: hidden;  
    right: 300px;
}
.gameTrash5 {
    height: 75px;
    position: absolute;
    top: 120px;
    visibility: hidden;  
    right: 400px;
}
.gameTrash6 {
    height: 75px;
    position: absolute;
    top: 120px;
    visibility: hidden;  
    right: 500px;
}
.gameBin2 {
    height: 200px;
    position: absolute;
    top: 560px;
    right: 300px;
    z-index: 12;
}
.shake {
    -webkit-animation: shake .5s .0125s;
    animation: shake .5s .0125s
}
.scoreboard {
    display: inline;
    float: left;
}

@-webkit-keyframes shake {
    0%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    12.5%,
    37.5%,
    62.5%,
    87.5% {
        -webkit-transform: translate(-10px);
        transform: translate(-10px)
    }
    25%,
    50%,
    75% {
        -webkit-transform: translate(10px);
        transform: translate(10px)
    }
}

@keyframes shake {
    0%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    12.5%,
    37.5%,
    62.5%,
    87.5% {
        -webkit-transform: translate(-10px);
        transform: translate(-10px)
    }
    25%,
    50%,
    75% {
        -webkit-transform: translate(10px);
        transform: translate(10px)
    }
}
#scorestyle{
    margin-top: 3%;
}
.gamecol{
    margin-bottom: 2px;
    margin-top:5px;
}
.scorecard{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    color: rgb(36, 36, 214);
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
}
#startbutton{
    font-size: 30px;
    margin-top: 5px;
    background-color: rgb(36, 36, 214);
    border: none;
}

#startbutton:hover {
    background-color: rgb(15, 194, 15);
    border: none;
}

#backgroundStyle {
    align-items: 'flex-end';
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
    height: 680px;
    margin-top: 20px;
  };

  /* for ipad landscape just doesnt work.. */
@media only screen and (max-height: 800px) 
and (max-width : 1025px) 
 { 
    .gameBin2 {
        top: 460px;

    }
    #backgroundStyle {

        height: 580px;
      };
}