.btn-beige {
    border-color: #d6d0c4;
    background-color: #dfcea6;
  }

.btn-beige:hover {
    background-color: #cfb578
}

.card { box-shadow: 10px 10px 5px 0px rgba(201,201,201,1);}

.card-title { text-decoration-line: underline;}